@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap');

@import './modules/breakpoints.scss';
@import './modules/colors.scss';
@import './modules/buttons.scss';

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

a {
    color: inherit!important;
}

#hero {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    &.canvas-gradient-light {
        color: #000;
    }
    overflow-y: scroll;

    background: #1D4350;
    transition: all .4s;

    @include md () {
        overflow-y: hidden;
    }

    #hero-content {
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    #title {
        margin-top: auto;
        max-width: 80%;
        @include md () {
            max-width: 70%;
        }

        h1 {
            font-size: 1.5em;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    #countdown  {
        display: flex;
        flex-direction: column;
        margin: 40px 0;
        @include sm () {
            flex-direction: row;
        }
        .cd-group {
            display: flex;
            margin-right: 30px;
            align-items: end;
            &:last-child {
                margin-right: 0;
            }
        }

        .cd-number {
            $animation-offset: 20px;
            $in-easing: cubic-bezier(.55,.09,.68,.53);
            $out-easing: cubic-bezier(.25,.46,.45,.94);
            font-size: 5em;
            font-weight: 300;
            &.down {
                &.in {
                    animation: in-down .2s $out-easing both;
                }
                &.out {
                    animation: out-up .2s $in-easing both;
                }
            }
            &.up {
                &.in {
                    animation: in-up .2s $out-easing both;
                }
                &.out {
                    animation: out-down .2s $in-easing both;
                }
            }
            @keyframes in-up {
                from {
                    transform: translate3D(0, $animation-offset, 0);
                    opacity: 0;
                }
            }
            @keyframes out-up {
                to {
                    transform: translate3D(0, $animation-offset, 0);
                    opacity: 0;
                }
            }
            @keyframes in-down {
                from {
                    transform: translate3D(0, -$animation-offset, 0);
                    opacity: 0;
                }
            }
            @keyframes out-down {
                to {
                    transform: translate3D(0, -$animation-offset, 0);
                    opacity: 0;
                }
            }
        }
        .cd-letter {
            font-size: 3em;
            font-weight: 700;
            opacity: 0.5;
        }
    }

    #more-info {
        text-align: center;
        margin-top: auto;
        max-width: 80%;
        font-weight: 300;
        font-size: 1.1em;
        @include md () {
            max-width: 70%;
        }
    }
    #credits {
        margin-bottom: 10px;
        font-weight: 300;
        max-width: 80%;

        @include md () {
            max-width: 70%;
        }
    }
}
#canvas-gradient {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

// $gradient-direction: to bottom right;
// .gradient-before-morning {
//     background: #1D4350;
//     background: linear-gradient($gradient-direction, #A43931, #1D4350);
// }
// .gradient-morning {
//     background: #00c3ff; 
//     background: linear-gradient($gradient-direction, #d3d31c, #039bc9);
// }
// .gradient-afternoon {
//     background: #7b4397;
//     background: linear-gradient($gradient-direction, #dc2430, #7b4397);
// }
// .gradient-evening {
//     background: #1D4350;
//     background: linear-gradient($gradient-direction, #A43931, #1D4350);
// }
// .gradient-night {
//     background: #4B79A1;
//     background: linear-gradient($gradient-direction, #283E51, #4B79A1);

// }