@import './colors.scss';

.btn {
    display: inline-block;
    border: solid 2px transparent;
    border-radius: 7px;
    padding: 15px 27px;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
    font-weight: 400;
}
.btn-light {
    background-color: $theme-white;
    color: $theme-grey-dark;
    &:hover {
        background-color: #fff;
    }
}
.btn-outline-light {
    border-color: $theme-white;
    color: inherit;
    &:hover {
        background-color: $theme-white;
        color: $theme-black;
    }
}
.btn-dark {
    background-color: $theme-grey-dark;
    color: $theme-white;
    &:hover {
        background-color: $theme-black;
    }
}
.btn-outline-dark {
    border-color: $theme-grey-dark;
    color: inherit;
    &:hover {
        background-color: $theme-grey-dark;
        color: $theme-white;
    }
}